h1 {
    border: 2px #eee solid;
    color: red;
    background-color: gainsboro;
    text-align: center;
    font-size:200%;
    padding: 10px;
}

h2 {
    border: 2px #eee solid;
    color: gray;
    text-align: center;
    font-size:150%;
    padding: 10px;
}

h3 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    font-size: 120%;
    padding: 10px;
}

body {
    background-color: gainsboro;

}

.submitButton {   
    padding: 10px 20px;   
    margin-top: 10px;   
    background-color: #ddd;   
    border-radius: 5px;   
    display: inline-block; 
} 
.submitButton:hover {   background-color: #ccc; } 
.submitButton:active {   background-color: #ddd; } 

#extreme {
     color: white;
     background-color: red;
}

#high {
     color: black;
     background-color: orange;
}

#average {
    color: black;
    background-color: yellowgreen;
}
#good {
    color: white;
    background-color: green;
}

#default {
    color: white;
    background-color: darkblue;
}

#t01 tr:nth-child(even) {
    background-color: #eee;
    font-size: small;
  }
  
#t01 tr:nth-child(odd) {
   background-color: #fff;
   font-size: small;
  }
  
#t01 th {
    background-color: red;
    color: white;
    padding: 15px;
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }
